*{
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 16px;
    color: #757575;
}
h1{
    font-size: 1.875em;
}
h2{
    font-size: 1.75em;
    font-weight: bold;
}
button{
    cursor: pointer;
}
/* header */
header{
    background-color:#FFFFFF;
    height:54px;
    margin:auto;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 99;
    overflow: hidden;
}
.nav{
    width:1200px;
    height:54px;
    display:flex;
    margin:0 auto;
}
.logo{
    flex: none;
    width: 45%;
    margin: auto;
    color:#448899;
}
.menu{
    flex: none;
    width: 55%;
    margin: auto 0;
    text-align: right;
}
.menu ul li{
    display:inline-block;
    margin-right:10px;
}
.menu a{
    text-decoration: none;
    color: #666666;
}
/* Footer */
footer{
    background-color: #757575;
    color: #FFFFFF;
    text-align: center;
    height: 104px;
    line-height: 104px;
}