/* banner */
.banner{
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    height: 320px;
    color:#F8F8F8;
    overflow: hidden;
    margin:54px auto 0 auto;
}
.title{
    width:1200px;
    min-width:320px;
    height: inherit;
    min-height:280px;    
    position: relative;
    margin: auto;
}
.title>img{
    position:absolute;
    bottom: 0;
    right:-10%;
    z-index: 1;
}
.wrap{
  width:95%;
  height:auto;
  margin:auto;
  padding-top:90px;
  line-height:2;
  position:absolute;
  top:0;
  left:0;
  z-index: 2;
}
.search{
  position: relative;  
  width:50%;
  margin-top:20px;
}
.search input{
  width: 400px;
  height: 46px;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #FFFFFF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  top:0;
  left:0;
}
form.search button{
  width: 60px;
  height: 46px;
  background: #448899;
  border: 1px solid #448899;
  color: white;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top:0;
  left:400px;
  cursor:pointer;
}
/* Main */
main{
    width: 1200px;
    margin: 0 auto;
}
.box{
    width: 98%;
    padding: 20px 0;
    display: flex;    
    flex-wrap: wrap;
    justify-content:center;
    margin: auto;
}
.item{
    flex:none;
    width: 23%;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    margin: 10px;
}
.item>img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height:200px;
	object-fit: cover;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 12px;
}
#spot_name{
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width:1200px){
    .nav{
        width:95%;
    }
    .title{
        width: 95%;
    }
    .title>img{
        right:-25%;
    }
    main{
        width: 95%;
    }
    .item{
        width:47%;
    }
}
@media (max-width:600px){
    body{
        font-size: 15px;
    }
    h1{
        font-size: 1.8em;
    }
    .menu ul li{
        margin-right:5px;
    }
    .banner{
        height: 280px;
    }
    .title>img{
        width: 95%;
        bottom: 0;
        right:-30%;
    }
    .wrap{
        padding-top: 50px;
    }
    .search input{
        width: 230px;
    }
    form.search button{
        left:230px;
    }
    main{
        width: 98%;
    }
    .item{
        width:98%;
    }
}