<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Attraction Info</title>
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/attraction.css">
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <h1>台北一日遊</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">預定行程</a></li>
                    <li><a href="#">登入/註冊</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="item">
            <div class="imgs_div">
                <img src="../static/images/books_apple_hires.jpg" alt="" width="540px">
            </div>
            <div class="info">
                <h3>ABC</h3>
                <p>abc</p>
                <div class="wrap">
                    <div class="booking">
                        <h4>訂購導覽行程</h4>
                        <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                        <form action="#" method="post">
                            <label for="">選擇日期：</label>
                            <input type="date" name="date" id="date" value="2021-05-01"><br/>
                            <label for="">選擇時間：</label>
                            <input type="radio" name="date" id="date" value="am" checked><span>上半天</span>
                            <input type="radio" name="date" id="date" value="pm"><span>下半天</span><br/>
                            <label for="">導覽費用：</label><span>新台幣2000元</span><br/>
                            <button type="submit">開始預訂行程</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consequuntur qui adipisci fugit, repellendus ut minus voluptatem ex inventore voluptates nisi iste commodi officiis temporibus, fuga distinctio doloribus voluptate cumque.
            </p>
          <br/>
            <h4>景點地址：</h4>
            <p>address</p>
          <br/>
            <h4>交通方式：</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti sed accusamus incidunt vel autem, aut eius magnam omnis dolores qui et pariatur itaque reprehenderit voluptatibus sapiente necessitatibus nobis vitae distinctio!</p>
        </div>
    </main>
    <footer>
        COPYRIGHT © 2021 台北一日遊
    </footer>
</body>
</html>