<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Attraction Info</title>
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/attraction.css">
<script type="text/javascript" src="../static/js/attraction.js"></script>
<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script type="text/babel">
    //Main組件
    class Main extends React.Component{  
        state={}
        componentDidMount(){
            const p=getDataById();
            p.then(data=>{
                this.setState(data["data"]);
            }).catch(error=>{
                console.log(error);
            })
        }
        render(){
            // console.log(this.state);
            return(
                <div>
                    <div class="item">
                        <Images images={this.state.images}/>
                        <div class="info">
                            <div class="title">
                                <h2>{this.state.name}</h2>
                                <p>{this.state.category} at {this.state.mrt}</p>
                            </div>
                            <div class="wrap">
                                <Booking images={this.state.id}/>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="description">
                        <p>{this.state.description}</p>
                        <br/>
                        <h4>景點地址：</h4>
                        <p>{this.state.address}</p>
                        <br/>
                        <h4>交通方式：</h4>
                        <p>{this.state.transport}</p>
                    </div>
                </div>
            )
        }
    }
    // 輪播圖
    class Images extends React.Component{
        state={
            index:0
        }
        render(){
            const images_arr=this.props.images;
            console.log(images_arr);
            return(
                <div class="imgs_div">
                    <img src=""/>
                </div>
            )
        }
    }
    // 預訂行程表單
    class Booking extends React.Component{
        state={
            checked:"am",
            price:{
                am:2000,
                pm:2500
            }
        }
        render(){
            const {checked, price}=this.state;
            return(
                <div class="booking">
                    <h4>訂購導覽行程</h4>
                    <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <form action="#" method="post">
                        <label for="">選擇日期：</label>
                        <input type="date" name="date" id="date" value="2021-01-01"/><br/>
                        <label for="">選擇時段：</label> 
                        <span class="radio_container">
                            <input type="radio" name="period" id="am" checked/>
                            <label for="am">上半天</label>
                        </span>
                        <span class="radio_container">
                            <input type="radio" name="period" id="pm"/>
                            <label for="pm">下半天</label>
                        </span><br/>                        
                        <label for="">導覽費用：</label>新台幣<span>{price[checked]}</span>元<br/>
                        <button type="submit">開始預訂行程</button>
                    </form>
                </div>
            )
        }
    }

    addEventListener("load", ()=>{
        ReactDOM.render(<Main/>, document.querySelector("main"));
    })
</script>
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <h1>台北一日遊</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">預定行程</a></li>
                    <li><a href="#">登入/註冊</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <!--由React組件渲染-->
    </main>
    <footer>
        COPYRIGHT © 2021 台北一日遊
    </footer>
</body>
</html>