<!DOCTYPE html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/base.css") }}>
    <script type="text/javascript" src={{ url_for("static", filename="js/base.js") }}></script>
    <!--Load React and React DOM-->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <!-- Load Babel -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    {% endblock %}
</head>
<body>
    <header>
        <div id="popup_wrap">
            <!--由Popup組件渲染-->
        </div>
        <div class="nav">
            <div class="logo">
                <a href="/"><h1>台北一日遊</h1></a>
            </div>
            <div class="menu">
                <ul>
                    <li><a id="create_booking">預定行程</a></li>
                    <li id="login_status">
                        <a id="login">登入/註冊</a>
                        <a id="logout">登出會員</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <script type="text/babel">
        const popup_wrap=document.querySelector("#popup_wrap");
        const login=document.querySelector("#login");
        const logout=document.querySelector("#logout");
        const showPopUp=()=>{
            popup_wrap.style.display="block";
            ReactDOM.render(<Popup/>, popup_wrap)
        }
        let currentUser;
        let nextPathAfterLogin="/";
        let currentUserPromise;
        // 頁面載入時，取得當前已登入的使用者資訊
        addEventListener("load", ()=>{
            currentUserPromise=ajaxRequest("get").then(resp=>{
                // console.log("呼叫currentUserPromise");
                if(resp.data){
                    currentUser=resp.data;
                    login.style.display="none";
                    logout.style.display="inline-block";
                    return currentUser
                }else{
                    login.style.display="inline-block";
                    logout.style.display="none";
                }
            })
        })
        // 點擊登出
        logout.addEventListener("click", ()=>{
            ajaxRequest("delete").then(resp=>{
                if(resp.ok){
                    location.reload();
                }
            })
        })
        // 點擊跳窗登入/註冊畫面
        login.addEventListener("click", ()=>{
            nextPathAfterLogin="/";
            showPopUp();
        })
        // 點擊預定行程
        document.querySelector("#create_booking").addEventListener("click", ()=>{
            if(currentUser){
                location.href="/booking";
            }else{
                nextPathAfterLogin="/booking";
                showPopUp();
            }
        })
        // 點擊框外，關閉登入/註冊畫面
        popup_wrap.addEventListener("click", (eObj)=>{
            if(eObj.target===popup_wrap){
                popup_wrap.style.display="none";
            }
        })
        
        // 登入/註冊的跳窗組件
        class Popup extends React.Component{
            state={
                login:true
            }
            render(){
                let form=<LoginForm/>;
                let hint=(
                    <p>還沒有帳戶？ <a onClick={this.changeFormType}>點此註冊</a></p>
                )
                if(!this.state.login){
                    form=<SignupForm/>;
                    hint=(
                        <p>已經有帳戶了？ <a onClick={this.changeFormType}>點此登入</a></p>
                    )
                }
                return(
                    <div id="popup">
                        <div className="close_btn" onClick={this.closeLoginForm}>×</div>
                        {form}
                        <div className="hint">
                            {hint}
                        </div>
                    </div>
                )
            }
            closeLoginForm=()=>{
                popup_wrap.style.display="none";
            }
            changeFormType=()=>{
                this.setState({login:!this.state.login});
            }
        }
        // 登入表單
        class LoginForm extends React.Component{
            state={
                email:"",
                password:"",
                message:""
            }
            render(){
                return(
                    <div id="loginForm">
                        <form method="post" onSubmit={this.handleSubmit}>
                            <h3>登入會員帳號</h3>
                            <input type="email" name="email" id="email" placeholder="輸入電子信箱"
                                value={this.state.email} onChange={this.handleChange("email")}/>
                            <input type="password" name="password" id="password" placeholder="輸入密碼"
                                value={this.state.password} onChange={this.handleChange("password")}/>
                            <br />
                            <input type="submit" value="登入帳戶" />
                        </form>
                        <p className="msg">{this.state.message}</p>
                    </div>
                )
            }
            handleSubmit=(eObj)=>{
                eObj.preventDefault();
                const {email, password}=this.state;
                if(email==="" || password===""){
                    alert("登入資料皆不得空值");
                    return
                }
                const data={email, password};
                let p=ajaxRequest('patch', data);
                p.then(resp=>{
                    if(resp.ok){
                        location.href=nextPathAfterLogin;
                    }else if(resp.error){
                        this.setState({message:resp.message});
                    }
                })
            }
            handleChange=(dataType)=>{
                return(eObj)=>{
                    this.setState({[dataType]:eObj.target.value});
                }
            }
        }
        // 註冊表單
        class SignupForm extends React.Component{
            state={
                username:"",
                email:"",
                password:"",
                message:""
            }
            render(){
                let {username, email, password, message}=this.state;
                let ok_style;
                if(message==="ok"){
                    message="註冊成功，請重新登入";
                    ok_style={color:"blue"};
                    username="";
                    email="";
                    password="";
                }
                return(
                    <div id="signupForm">
                        <form method="post"  onSubmit={this.handleSubmit}>
                            <h3>註冊會員帳號</h3>
                            <input type="text" name="username" id="username" placeholder="輸入姓名"
                                value={username} onChange={this.handleChange("username")}/>
                            <input type="email" name="email" id="email" placeholder="輸入電子信箱"
                                value={email} onChange={this.handleChange("email")}/>
                            <input type="password" name="password" id="password" placeholder="輸入密碼 ( 4個以上英數字 )"
                                value={password} onChange={this.handleChange("password")}/>
                            <br />
                            <input type="submit" value="註冊新帳戶" />
                        </form>
                        <p className="msg" style={ok_style}>{message}</p>
                    </div>
                )
            }
            handleSubmit=(eObj)=>{
                eObj.preventDefault();
                const {username, email, password}=this.state;
                if(username==="" || email==="" || password===""){
                    alert("註冊資料皆不得空值");
                    return
                }
                if(!password.match(/[A-Za-z0-9]{4}/)){
                    alert("密碼請輸入4個以上的大小寫英數字")
                    return
                }
                const data={name:username, email, password};
                ajaxRequest("post", data).then(resp=>{
                    if(resp.ok){
                        this.setState({message:"ok"});
                    }else if(resp.error){
                        this.setState({message:resp.message});
                    }
                })
            }
            handleChange=(dataType)=>{
                return(eObj)=>{
                    this.setState({[dataType]:eObj.target.value});
                }
            }
        }
    </script>
    {% block content %}
    
    {% endblock %}
    <footer>
        COPYRIGHT © 2021 台北一日遊
    </footer>
</body>
</html>