{% extends "base.html" %}
{% block title %}Booking Page{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/booking.css") }}>
{% endblock %}
{% block content %}
    <main>
        <!--由Main組件渲染-->
    </main>
    <script type="text/babel">
        class Main extends React.Component{
            state={
                name:"",
                email:"",
                phone:"",
                card_number:"",
                expires_end:"",
                security_code:""
            }
            componentDidMount(){
                // 載入當前用戶的資料
                this.setState({
                    name:currentUser.name,
                    email:currentUser.email,
                })
            }
            render(){
                // console.log(this.props.data);
                // console.log(currentUser)
                let booking_list;
                let amount=0;
                let hidden;
                if(this.props.data){
                    booking_list=[];
                    for(let d of this.props.data){
                        // console.log(d);
                        amount+=d.price;
                        booking_list.push(<BookingList key={d.booking_id} data={d}/>);
                    }
                }else{
                    hidden={display:"None"};
                    booking_list=<p>目前沒有任何待預訂的行程</p>
                }
                return(
                    <div id="main">
                        <div className="content">
                            <h3>你好，<span id="username">{currentUser.name}</span>，待預訂的行程如下：</h3>
                        </div>
                        <div>
                            {booking_list}
                        </div>
                        <hr style={hidden}/>
                        <div style={hidden}>
                            <h3>您的聯絡資訊</h3>
                            <div className="contact_info">
                                <form action="" method="post">
                                    <label for="">聯絡姓名：</label>
                                    <input type="text" name="name" id="name" value={this.state.name} onChange={this.changeInputData("name")}/><br/>
                                    <label for="">連絡信箱：</label>
                                    <input type="email" name="email" id="email" value={this.state.email} onChange={this.changeInputData("email")}/><br/>
                                    <label for="">手機號碼：</label>
                                    <input type="text" name="phone" id="phone" value={this.state.phone} onChange={this.changeInputData("phone")}/>
                                </form>
                            </div>
                        </div>
                        <hr style={hidden}/>
                        <div style={hidden}>
                            <h3>信用卡付款資訊</h3>
                            <div className="payment_info">
                                <form action="" method="post">
                                    <label for="">卡片號碼：</label>
                                    <input type="text" name="card_number" id="card_number" value={this.state.card_number} onChange={this.changeInputData("card_number")}/><br/>
                                    <label for="">過期時間：</label>
                                    <input type="text" name="expires_end" id="expires_end" placeholder="MM/YY" value={this.state.expires_end} onChange={this.changeInputData("expires_end")}/><br/>
                                    <label for="">驗證密碼：</label>
                                    <input type="password" name="security_code" id="security_code" placeholder="CVV" value={this.state.security_code} onChange={this.changeInputData("security_code")}/>
                                    <h5>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</h5>
                                </form>
                            </div>
                        </div>
                        <hr style={hidden}/>
                        <div style={hidden}>
                            <div className="billing_info">
                                <h3>總價：新台幣 <span id="amount" onChange={this.changeInputData("amount")}>{amount}</span> 元</h3>
                                <button onClick={this.handleSubmit}>確認訂購並付款</button>
                            </div>
                        </div>
                    </div>
                )
            }
            changeInputData=(dataType)=>{
                return ()=>{
                    console.log(dataType);
                }
            }
            handleSubmit=()=>{
                let amount_text=document.querySelector("#amount").textContent;
                if(amount_text==="0"){
                    return
                }
                console.log("Submit")
            }
        }
        // 預訂行程列表組件
        class BookingList extends React.Component{
            render(){
                // console.log(this.props.data);
                const data=this.props.data;
                let period;
                if(data.time==="morning"){
                    period="上午9點到12點"
                }else{
                    period="下午2點到5點"
                }
                return(
                    <div>
                        <div className="booking_info">
                            <div className="img_div">
                                <img src={data.attraction.image}/>
                            </div>
                            <div className="detail">
                                <h3>台北一日遊：
                                    <span className="attraction_name">{data.attraction.name}</span>
                                </h3>
                                <label for="">日期：</label><span className="attraction_date">{data.date}</span><br/>
                                <label for="">時間：</label><span className="attraction_time">{period}</span><br/>
                                <label for="">費用：</label><span className="attraction_price">新台幣{data.price}元</span><br/>
                                <label for="">地點：</label><span className="attraction_address">{data.attraction.address}</span>
                            </div>
                            <div className="del">
                                <a onClick={this.handleDelete(data.booking_id)}><img src="../static/images/icon_delete.png" alt="" width="30px"/></a>
                            </div>
                        </div>
                    </div>
                )
            }
            handleDelete=(bid)=>{
                return ()=>{
                    // console.log(bid)
                    fetch(`${window.origin}/api/booking`, {
                        method:"delete",
                        credentials:"include",
                        headers:{
                            "Content-Type":"application/json"
                        },
                        body:JSON.stringify({bid})
                    }).then(response=>{
                        if(response.status===403){
                            location.href="/";
                        }else{
                            return response.json();
                        }
                    }).then(resp=>{
                        if(resp.ok){
                            location.reload();
                        }
                    }).catch(error=>{
                        console.log(error)
                    })
                }
            }
        }

        addEventListener("load", ()=>{
            fetch(`${window.origin}/api/booking`).then(response=>{
                if(response.status===403){
                    location.href="/";
                }else{
                    return response.json()
                }
            }).then(resp=>{
                ReactDOM.render(<Main data={resp.data}/>, document.querySelector("main"))
            })
        })
    </script>
{% endblock %}