{% extends "base.html" %}
{% block title %}Booking Page{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/booking.css") }}>
    <script type="text/javascript" src={{ url_for("static", filename="js/booking.js") }}></script>
    <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
    <script type="text/javascript" src={{ url_for("static", filename="js/tappay.js") }}></script>
{% endblock %}
{% block content %}
    <main>
        <!--由Main組件渲染-->
    </main>
    <script type="text/babel">
        class Main extends React.Component{
            state={
                name:"",
                email:"",
                phone:""
            }
            componentDidMount(){
                // 載入當前用戶的資料
                this.setState({
                    name:this.props.user.name,
                    email:this.props.user.email,
                })
                // 設定TapPay的參數及表單樣式
                loadTPDirect();
            }
            render(){
                // console.log(this.props.data);
                let booking_list;
                let amount=0;
                let hidden;
                if(this.props.data){
                    booking_list=[];
                    for(let d of this.props.data){
                        // console.log(d);
                        amount+=d.price;
                        booking_list.push(<BookingList key={d.booking_id} data={d}/>);
                    }
                }else{
                    hidden={display:"None"};
                    booking_list=<p>目前沒有任何待預訂的行程</p>
                }
                return(
                    <form>
                        <div className="content">
                            <h3>你好，<span id="username">{this.props.user.name}</span>，待預訂的行程如下：</h3>
                        </div>
                        <div>
                            {booking_list}
                        </div>
                        <hr style={hidden}/>
                        <div style={hidden}>
                            <h3>您的聯絡資訊</h3>
                            <div className="contact_info">
                                <label for="">聯絡姓名：</label>
                                <input type="text" name="name" id="name" 
                                    value={this.state.name} onChange={this.changeInputData("name")}/><br/>
                                <label for="">連絡信箱：</label>
                                <input type="email" name="email" id="email" 
                                    value={this.state.email} onChange={this.changeInputData("email")}/><br/>
                                <label for="">手機號碼：</label>
                                <input type="text" name="phone" id="phone" placeholder="09xxxxxxxx，共10碼" 
                                    value={this.state.phone} onChange={this.changeInputData("phone")}/>
                            </div>
                        </div>
                        <hr style={hidden}/>
                        <div style={hidden}>
                            <h3>信用卡付款資訊</h3>
                            <div className="payment_info">
                                <label for="">卡片號碼：</label>
                                <div class="tpfield" id="card-number"></div>
                                <br/>
                                <label for="">過期時間：</label>
                                <div class="tpfield" id="card-expiration-date"></div>
                                <br/>
                                <label for="">驗證密碼：</label>
                                <div class="tpfield" id="card-ccv"></div>
                                <h5>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</h5>
                            </div>
                        </div>
                        <hr style={hidden}/>
                        <div style={hidden}>
                            <div className="billing_info">
                                <h3>總價：新台幣
                                    <span id="amount">{amount}</span>
                                元</h3>
                                <button id="submitBtn" onClick={this.handleSubmit}>確認訂購並付款</button>
                            </div>
                        </div>
                    </form>
                )
            }
            changeInputData=(dataType)=>{
                return (eObj)=>{
                    this.setState({[dataType]:eObj.currentTarget.value});
                }
            }
            handleSubmit=(eObj)=>{
                eObj.preventDefault();
                // 輸入資料格式驗證
                const {name, email, phone}=this.state;
                if(name==="" || email==="" || phone===""){
                    alert("聯絡資料未填寫");
                    return
                }
                if(!phone.match(/^09\d{8}$/)){
                    alert("手機號碼格式錯誤");
                    return
                }
                // 無預定行程及金額為0，不提交
                let bids=[];
                let price=0;
                for(let d of this.props.data){
                    bids.push(d.booking_id);
                    price+=d.price;
                };
                if(bids===[] || price===0){return};

                // 確認是否可以 getPrime
                const tappayStatus=TPDirect.card.getTappayFieldsStatus();
                if (tappayStatus.canGetPrime === false) {
                    // console.log('can not get prime');
                    alert("信用卡資料有誤");
                    return
                }
                // Get prime
                TPDirect.card.getPrime((result) => {
                    if (result.status !== 0) {
                        console.log('get prime error ' + result.msg);
                        alert("信用卡資料有誤");
                        return
                    }
                    // console.log('get prime 成功，prime: ' + result.card.prime);
                    const data={
                        prime:result.card.prime,
                        orders:bids,
                        price,
                        contact:{
                            name:this.state.name,
                            email:this.state.email,
                            phone:this.state.phone
                        }
                    };
                    createOrder(data).then(resp=>{
                        if(resp.data.payment.status===0){
                            location.href=`${window.origin}/thankyou?number=${resp.data.number}`;
                        }else if(resp.error){
                            alert(resp.message);
                        }
                    })
                })
            }
        }
        // 預訂行程列表組件
        class BookingList extends React.Component{
            render(){
                // console.log(this.props.data);
                const data=this.props.data;
                return(
                    <div>
                        <div className="booking_info">
                            <div className="img_div">
                                <img src={data.attraction.image}/>
                            </div>
                            <div className="detail">
                                <h3>台北一日遊：
                                    <span className="attraction_name">{data.attraction.name}</span>
                                </h3>
                                <label for="">日期：</label>
                                <span className="attraction_date">{data.date}</span><br/>
                                <label for="">時間：</label>
                                <span className="attraction_time">{data.time==="morning"? "早上 9 點到下午 4 點":"下午 2 點到晚上 9 點"}</span><br/>
                                <label for="">費用：</label>
                                <span className="attraction_price">新台幣{data.price}元</span><br/>
                                <label for="">地點：</label>
                                <span className="attraction_address">{data.attraction.address}</span>
                            </div>
                            <div className="del">
                                <a onClick={this.handleDelete(data.booking_id)}>
                                    <img src="../static/images/icon_delete.png" alt="" width="30px"/>
                                </a>
                            </div>
                        </div>
                    </div>
                )
            }
            handleDelete=(bid)=>{
                return ()=>{
                    delBooking({bid}).then(resp=>{
                        if(resp.ok){
                            location.reload();
                        }
                    })
                }
            }
        }

        addEventListener("load", ()=>{
            currentUserPromise.then(currentUser=>{
                getBookingList().then(resp=>{
                    ReactDOM.render(
                        <Main data={resp.data} user={currentUser}/>, 
                        document.querySelector("main")
                    )
                })
            })
        })
    </script> 
{% endblock %}