<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Home Page</title>
<link rel="stylesheet" href="../static/css/base.css">
<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional');
</style>
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <h1>台北一日遊</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">預定行程</a></li>
                    <li><a href="#">登入/註冊</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="banner">
        <div class="title">
            <div class="wrap">
                <h2>輕鬆享受台北一日悠閒</h2>
                <p>探索每個角落，體驗城市的深度旅遊行程</p>
                <form class="search" action="">
                    <input type="search" placeholder="輸入景點名稱查詢" name="keyword" id="keyword">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <img src="../static/images/welcome 1.png" alt="">
        </div>
    </div>
    <main>
        <div class="box">
            <div class="item">
                <img src="../static/images/books_apple_hires.jpg">
                <div class="content">
                    <h4 id="spot_name">Title</h4>
                    <span id="mrt">MRT</span>
                    <span id="category">公園</span>
                </div>
            </div>
            <div class="item">
                <img src="../static/images/books_apple_hires.jpg">
                <div class="content">
                    <h4 id="spot_name">Title</h4>
                    <span id="mrt">MRT</span>
                    <span id="category">公園</span>
                </div>
            </div>
            <div class="item">
                <img src="../static/images/books_apple_hires.jpg">
                <div class="content">
                    <h4 id="spot_name">Title</h4>
                    <span id="mrt">MRT</span>
                    <span id="category">公園</span>
                </div>
            </div>
            <div class="item">
                <img src="../static/images/books_apple_hires.jpg">
                <div class="content">
                    <h4 id="spot_name">Title</h4>
                    <span id="mrt">MRT</span>
                    <span id="category">公園</span>
                </div>
            </div>
        </div>
    </main>
    <footer>
        COPYRIGHT © 2021 台北一日遊
    </footer>
</body>
</html>